@media(max-width:700px) {
    body {
        font-family: 'Just tell me what';
        font-size: 20px;
        text-align: justify;
        background-image: url('img/bg.png');
        background-repeat: repeat;
        background-size: 500px;
    }
}

p {
    padding: 10px;
}


@font-face {
    font-family: 'Just tell me what';
    src: url('img/jtr.otf') format('woff2'),
        url('img/jtr.otf') format('woff'),
        url('img/jtr.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Get show';
    src: url('img/gs.ttf') format('woff2'),
        url('img/gs.ttf') format('woff'),
        url('img/gs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header {
    margin: 0px;
}

#header img {
    height: 200px;
    border-radius: 500px;
    margin-top: 60px;
    ;
    padding-bottom: 0px;

}

#header h1 {
    font-family: 'get show';
    font-weight: 100;
    font-size: 50px;
    margin: 0px;
    position: absolute;
    top: 25px;
    right: 10px;
}

#header p {
    margin: 0px;
}

#info {
    position: absolute;
    top: 90px;
    font-size: 25px;
    text-align: right;
    right: 10px;
}

#content {
    padding: 20px;

}

#content h1 {
    font-family: 'get show';
    font-size: 75px;
    font-weight: 100;
    margin: 5px;
}


.affin ul li img {
    height: 20px;

}

.affin ul li {
    list-style: none;
    display: inline-block;
}

.affin p {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#affinite {
    position: relative;
}


#left {
    position: relative;

}

#left img {
    position: relative;
    left: -40px;
}

#right {
    position: absolute;
    right: -30px;
    top: 0px;
}

#right p {
    font-size: 20px;

}

#left p {
    font-size: 20px;
}

.contenuperdu {
    text-align: center;
}

.contenuperdu img {
    height: 100px;
    border-radius: 99%;
}

.perso {
    display: inline-block;
}


@media(min-width:700px) {
    body {
        background-color: whitesmoke;
        font-family: 'Just tell me what';
        font-size: 30px;
        text-align: justify;
    }

    #contenu {
        width: 700px;
        margin: 20px auto 20px auto;
        position: relative;
        box-shadow: 1px 1px 8px grey;
        background-image: url('img/bg.png');
        background-repeat: repeat;
        background-size: 500px;

    }


    #header h1 {
        font-size: 70px;
    }

    #content h1 {
        font-size: 60px;
    }

    #right p {
        font-size: 30px;
    }

    #left p {
        font-size: 30px;
    }

    .affin ul li img {
        height: 30px;
    }

    #header img {
        height: 300px;
    }

    #info {
        position: absolute;
        top: 165px;
        font-size: 30px;
        text-align: right;
        right: 50px;
    }


}
